.app-bar {
  box-shadow: none !important;

  .tool-bar {
    display: flex;
    justify-content: space-between;

    .main-title__wrapper {
      display: flex;

      .main-title {
        margin-left: 10px;
      }
    }

    .home-button {
      a {
        color: $white;
        display: flex;
        text-decoration: none;
      }
    }
  }
}

.tab {
  &.Mui-selected {
    background-color: #bebebd;
    color: $white;
  }
}