.bg-01d {
  background: linear-gradient(0deg, $overlay, $overlay-b), url('../assets/bgs/01d.jpg');
}

.bg-01n {
  background: linear-gradient(0deg, $overlay, $overlay-b), url('../assets/bgs/01n.jpg');
}

.bg-02d {
  background: linear-gradient(0deg, $overlay, $overlay-b), url('../assets/bgs/02d.jpg');
}

.bg-02n {
  background: linear-gradient(0deg, $overlay, $overlay-b), url('../assets/bgs/02n.jpg');
}

.bg-03d {
  background: linear-gradient(0deg, $overlay, $overlay-b), url('../assets/bgs/03d.jpg');
}

.bg-03n {
  background: linear-gradient(0deg, $overlay, $overlay-b), url('../assets/bgs/03n.jpg');
}

.bg-04d {
  background: linear-gradient(0deg, $overlay, $overlay-b), url('../assets/bgs/04d.jpg');
}

.bg-04n {
  background: linear-gradient(0deg, $overlay, $overlay-b), url('../assets/bgs/04n.jpg');
}

.bg-09d {
  background: linear-gradient(0deg, $overlay, $overlay-b), url('../assets/bgs/09d.jpg');
}

.bg-09n {
  background: linear-gradient(0deg, $overlay, $overlay-b), url('../assets/bgs/09n.jpg');
}

.bg-10d {
  background: linear-gradient(0deg, $overlay, $overlay-b), url('../assets/bgs/10d.jpg');
}

.bg-10n {
  background: linear-gradient(0deg, $overlay, $overlay-b), url('../assets/bgs/10n.jpg');
}

.bg-11d {
  background: linear-gradient(0deg, $overlay, $overlay-b), url('../assets/bgs/11d.jpg');
}

.bg-11n {
  background: linear-gradient(0deg, $overlay, $overlay-b), url('../assets/bgs/11n.jpg');
}

.bg-13d {
  background: linear-gradient(0deg, $overlay, $overlay-b), url('../assets/bgs/13d.jpg');
}

.bg-13n {
  background: linear-gradient(0deg, $overlay, $overlay-b), url('../assets/bgs/13n.jpg');
}

.bg-50d {
  background: linear-gradient(0deg, $overlay, $overlay-b), url('../assets/bgs/50d.jpg');
}

.bg-50n {
  background: linear-gradient(0deg, $overlay, $overlay-b), url('../assets/bgs/50n.jpg');
}